.groups__block{
  display: flex;
  flex-direction: column;
  /* min-width: 320px; */
  /* align-items: center; */
  /* display: grid;
  grid-template-rows: repeat(3, minmax(min-content, max-content));
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  justify-items: center; */
  border: 1px solid #e3e3e3;
  border-radius: 2%;
  box-shadow: 4px 4px 10px #e3e3e3;
  padding: 10%;
  box-sizing: border-box;
  transition: transform 0.2s linear 0.1s;
}

.groups__block:hover {
  transform: scale(1.02);
}
