.popup-test-sostavslovo__block-select {
  display: flex;
  margin: 0;
  margin-bottom: 3%;
  grid-row: 1/2;
  grid-column: 1/2;
}

@media screen and (max-width: 360px) {
  .popup-test-sostavslovo__block-select{
    font-size: 14px
  }
}
