.groups__list{
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(3, minmax(min-content, max-content));
  grid-template-rows: repeat(3, minmax(min-content, max-content));
  grid-gap: 5%;
  justify-content: center;
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  gap: 15px 15px;
}
