.page{
  display: grid;
  justify-items: center;
  grid-template-columns: 100%;
  background-color: #fff;
  color: #000;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  min-width: 320px;
  max-width: 1280px;
  /* width: 100%; */
  /* min-height: 100vh; */
  /* align-items: start; */
  margin: 0 auto;
  /* padding-top: 20px; */
  box-sizing: border-box;

  /* grid-template-rows: 370px 300px; */
}
