.footer__links-email{
  width: 30px;
  height: 30px;
  background-image: url('../../../image/email.svg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 7px;
  opacity: 0.6;
}

.footer__links-email:hover{
  opacity: 1;
}
