.footer__links-instagram {
  width: 30px;
  height: 30px;
  background-image: url('../../../image/whatsapp-svgrepo-com.svg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  opacity: 0.6;
}

.footer__links-instagram:hover{
  opacity: 1;
}
