.footer__links-telegram{
  width: 30px;
  height: 30px;
  background-image: url('../../../image/telegram.svg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  opacity: 0.6;
}

.footer__links-telegram:hover{
  opacity: 1;
}
