.footer__links-vk {
  width: 30px;
  height: 30px;
  background-image: url('../../../image/vk.svg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  opacity: 0.8;
}

.footer__links-vk:hover{
  opacity: 1;
}
