.popup-registration__button-submit{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #0071f0;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.popup-registration__button-submit:focus,
.popup-registration__button-submit:hover{
  background-color: rgba(0, 113, 240, 0.7);
}
