.about__block {
  border: 1px solid #e3e3e3;
  border-radius: 2%;
  box-shadow: 4px 4px 10px #ffc10740;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 5%;
  transition: transform .2s linear .1s;
  width: 95%;
}

.about__block:hover {
  transform: scale(1.02);
  cursor: pointer;
}

@media screen and (max-width: 1024px){
  .about__block {
    flex-direction: column;
}
}
