.groups__block_position-block-7{
  grid-column: 3/4;
  grid-row: 3/4;
}

@media screen and (max-width: 1024px) {
  .groups__block_position-block-7{
   grid-column: 2/3;
   grid-row: 4/5;
 }
 }

 @media screen and (max-width: 732px) {
  .groups__block_position-block-7{
    grid-column: 1/1;
    grid-row: 7/7;
  }
}
