.methodology__block {
  border: 1px solid #e3e3e3;
  border-radius: 2%;
  /* background-color: #8bc34a80; */
  box-shadow: 4px 4px 10px #8bc34a17;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 10%;
  transition: transform 0.2s linear 0.1s;
}

.methodology__block:hover{
  /* opacity: 1;
  cursor: pointer; */
  transform: scale(1.02);
}
