.footer{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  margin-top: 60px;
  width: 95%;
  justify-items: start;
  align-items: center;
  border-top: 1px solid #e3e3e3;
}

@media screen and (max-width: 680px) {
  .footer{
    grid-template-columns: 1fr 1fr;
  }

}


