.about-project__block_image {
  align-self: center;
  margin-left: 5%;
  width: 45%;
  border-radius: 15px;
}

@media screen and (max-width: 1024px) {
  .about-project__block_image {
    margin: 0;
    width: 60%;
  }
}
