.contact__block_image{
  /* align-self: center; */
  /* margin-left: 5%; */
  width: 60%;
  /* height: 45%; */


}

@media screen and (max-width: 1024px){
  .contact__block_image {
    margin: 0;
    width: 80%;
}
}


